<div class="mt-5 container">
	<button routerLink="/create" class="btn btn-primary">Add a task</button>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Task</th>
				<th scope="col">Description</th>
				<th scope="col">Date</th>
			</tr>
		</thead>
		<tbody>
			@for (task of tasks; track task.task_name; let i = $index) {
			<tr>
				<th scope="row">{{ i + 1 }}</th>
				<td>{{task.task_name}}</td>
				<td>{{task.task_description}}</td>
				<td>{{task.deadline}}</td>
				<td>
					<button id="{{task.id}}" type="button" class="btn btn-primary  me-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="openModal($event)" value="update">update</button>
					<button class="btn btn-secondary  me-5" id="{{task.id}}" (click)="deleteTask($event)">delete</button>
				</td>
			</tr>
			}
		</tbody>
	</table>

	<!-- modal  para atualizar a  task -->
	  <div #exampleModal class="modal fade show" id="exampleModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" #frm="ngForm" (ngSubmit)="updateTask()">
					<h1>{{task.task_name}}</h1>
					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">Nome da tarefa</label>
						<input  [(ngModel)]="name" name="name" type="text" required class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
					   </div>
					   <div class="mb-3">
						   <label for="exampleFormControlInput1" class="form-label">Selecione a data</label>
						   <input [(ngModel)]="date" max="2033-12-31" name="data" required  type="date" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
					   </div>
					   <div class="mb-3">
						   <label for="exampleFormControlTextarea1" class="form-label">Descrição da tarefa</label>
						   <textarea [(ngModel)]="description" name="description" required=""  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					   </div>
					   <button type="submit" [disabled]="frm.invalid" type="submit" class="btn btn-primary">Save changes</button>
				   </form>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>


</div>
